@import 'variables';

@width-180: 180px;

cheat {
  display: block;
}

.cheat {
  input[type=text],
  select {
    width: @width-180;
  }

  textarea {
    width: @width-180;
    max-height: 140px;
    resize: vertical;
    padding: 1px;
    margin: 0;
  }

  table {
    border-collapse: separate;
  }

  td {
    vertical-align: top;
    margin-right: 10px;
  }

  .cheat-status {
    float: right;

    &.cheat-status-ok {
      color: @green;
    }

    &.cheat-status-ko {
      color: @red;
    }
  }
}
