.cheat {
  input[type=text] {
    width: 180px;
  }

  textarea {
    width: 180px;
    max-height: 140px;
    resize: vertical;
    padding: 1px;
    margin: 0;
  }

  td {
    vertical-align: top;
  }
}
