<div class="row">
  <div class="editor-left col-md-6">
    <div class="fieldset dark">
      <div class="fieldset-legend">Game Information</div>

      <div class="fieldset-content row">
        <div class="col-md-6">Title<sup>*</sup>:&nbsp;
          <input
            type="text"
            id="game-title"
            data-ng-model="vm.content.game.title"
            data-ng-init="vm.onGameTitleChanges()"
            data-ng-change="vm.onGameTitleChanges()"
            placeholder="title"
            maxlength="50"
            required/>
        </div>

        <div class="col-md-6">Console<sup>*</sup>:&nbsp;
          <select
            data-ng-model="vm.content.console"
            data-ng-options="key as console for (key, console) in vm.consoles"
            data-ng-change="vm.getAvailableFormats()">
          </select>
        </div>
      </div>

    </div>

    <div class="fieldset dark">
      <div class="fieldset-legend">Version</div>

      <div class="fieldset-content row">
        <div class="col-md-6">CRC<sup>*</sup>:&nbsp;
          <input
            type="text"
            id="version-crc"
            data-ng-model="vm.content.version.crc"
            data-ng-init="vm.onVersionCrcChanges()"
            data-ng-change="vm.onVersionCrcChanges()"
            placeholder="CRC" maxlength="8"
            pattern="[a-fA-F0-9]{8}"
            required/>
        </div>

        <div class="col-md-6">Title<sup>*</sup>:&nbsp;
          <input
            type="text"
            id="version-title"
            data-ng-model="vm.content.version.title"
            data-ng-init="vm.onVersionTitleChanges()"
            data-ng-change="vm.onVersionTitleChanges()"
            placeholder="Ex.: (USA) (SGB Enhanced)"
            maxlength="50"
            required/>
        </div>
      </div>
    </div>

    <div class="fieldset dark">
      <div class="fieldset-legend">Cheats</div>

      <div class="fieldset-content">
        <div id="cheats-container"></div>

        <div class="more-cheats-container">
          <a id="btn-add-cheat" class="btn btn-add" href="" data-ng-click="vm.addCheat()">Add cheat</a>
        </div>
      </div>
    </div>
  </div>

  <div class="editor-right col-md-6">
    <div class="fieldset dark">
      <div class="fieldset-legend">
        XML compiled
        <error-list errors="vm.errorList"></error-list>
      </div>
      <xml-code class="xml-editor fieldset-content"
        content="vm.content"
        count-cheats="vm.countCheats()">
      </xml-code>
    </div>
  </div>
</div>
