<div>
  <div class="editor-left">
    <div class="fieldset dark">
      <div class="fieldset-legend">Game Information</div>
      
      <div class="fieldset-content">
        Title<sup>*</sup>:&nbsp;
        <input type="text"
               data-ng-model="vm.game.title"
               placeholder="title"
               maxlength="50"
               required/>
      </div>
      
    </div>

    <div class="fieldset dark">
      <div class="fieldset-legend">Version</div>
      
      <div class="fieldset-content">
        CRC<sup>*</sup>:&nbsp;
        <input
          type="text"
          data-ng-model="vm.version.crc"
          placeholder="CRC" maxlength="8"
          pattern="[a-zA-Z0-9]{8}"
          required>
        
        Title<sup>*</sup>:&nbsp;
        <input
          type="text"
          data-ng-model="vm.version.title"
          placeholder="Ex.: (USA) (SGB Enhanced)"
          maxlength="50"
          required/>
      </div>
    </div>

    <div class="fieldset dark">
      <div class="fieldset-legend">Cheats</div>
      
      <div class="fieldset-content">
        <div id="cheats-container"></div>
        
        <div class="more-cheats-container">
          <a class="btn btn-add" href="#/" data-ng-click="vm.addCheat()">Add cheat</a>
        </div>
      </div>
    </div>
  </div>

  <div class="editor-right">
    <div class="fieldset dark">
      <div class="fieldset-legend">XML state</div>

      <div class="fieldset-content">
        <div class="xml-info xml-info-error" data-ng-if="!vm.showXml()">
          <div>XML is malformed</div>
          
          <ul>
            <li data-ng-if="!vm.hasGameTitle()">No game title</li>
            <li data-ng-if="!vm.hasVersionCrc()">No valid version CRC</li>
            <li data-ng-if="!vm.hasVersionTitle()">No version title</li>
            <li data-ng-if="vm.countCheats() < 1">No valid cheat codes</li>
          </ul>
        </div>
        <div class="xml-info xml-info-success" data-ng-if="vm.showXml()">
          <div>XML is well formed</div>
        </div>
      </div>
    </div>

    <div class="fieldset dark">
      <div class="fieldset-legend">XML compiled</div>
      <div xml-code class="xml-editor fieldset-content"></div>
    </div>
  </div>
</div>
