{
  "extends": "../../.eslintrc",
  "env": {
    "jasmine": true
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "angular": true,
    "inject": true,
    "module": true
  }
}
