{
  "extends": "../../.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "angular": true,
    "inject": true,
    "module": true,
    "should": true
  }
}
