<div class="cheat fieldset">
  <div class="fieldset-legend">
    Cheat #{{vm.cheat.computeCheatId()}}
    <a class="btn btn-red btn-remove" href="" data-ng-click="vm.removeCheat()">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      remove
    </a>
    <span class="glyphicon cheat-status"
      data-ng-class="{ 'glyphicon-ok-sign cheat-status-ok': vm.cheat.isValid(), 'glyphicon-exclamation-sign cheat-status-ko': !vm.cheat.isValid() }"
      aria-hidden="true">
    </span>
  </div>

  <div class="fieldset-content">
    <div class="row">
      <div class="col-md-1">Format<sup>*</sup>:&nbsp;</div>
      <div class="col-md-4">
        <select
          class="cheat-format"
          data-ng-model="vm.cheat.format"
          data-ng-options="format.format as format.format for format in vm.formats"
          data-ng-change="vm.onFormatChanges()">
        </select>
      </div>

      <div class="col-md-1">Hacker:&nbsp;</div>
      <div class="col-md-4"><input type="text" data-ng-model="vm.cheat.hacker" maxlength="50"></div>
    </div>

    <div class="row mt5">
      <div class="col-md-1">Name<sup>*</sup>:&nbsp;</div>
      <div class="col-md-4">
        <input type="text"
          data-ng-model="vm.cheat.name"
          data-ng-change="vm.updateError()"
          maxlength="50"
          class="cheat-name"
          required/>
      </div>

      <div class="col-md-1">Code<sup>*</sup>:&nbsp;</div>
      <div class="col-md-4">
        <textarea placeholder="{{vm.placeHolder}}"
          data-ng-model="vm.cheat.code"
          data-ng-change="vm.updateError()"
          class="cheat-code"
          required></textarea>
      </div>
    </div>

    <div class="row mt5">
      <div class="col-md-4">
        <a href=""
          class="generic-mode"
          data-ng-click="vm.switchGenericMode()">
          <span class="glyphicon"
            data-ng-class="{ 'glyphicon-check': vm.cheat.isGeneric, 'glyphicon-unchecked': !vm.cheat.isGeneric }">
          </span>
          Generic Mode
        </a>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-4" data-ng-if="vm.cheat.isGeneric">
        <a href=""
          class="derived-cheats"
          data-ng-click="vm.editDerivedCheats()">
          <span class="glyphicon glyphicon-edit"></span>
          Edit derived cheats
        </a>
      </div>
    </div>
  </div>
</div>
